{% extends "base.html" %}

{% block content %}
<body>
    {{ form.hidden_tag() }}
    <div>
    <form action="" method="post" novalidate>
        <h1>Signup</h1>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>
            {{ form.password_verify.label }}<br>
            {{ form.password_verify(size=32) }}<br>
        </p>
        <p>
            {{ form.email_address.label }}<br>
            {{ form.email_address(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p><br>
        <p><a href="/login">Login</a></p>
    </div>
</body>
{% endblock %}
